<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading text-wrap">
                    <%=err.message%>
                </h4>
                <p>Aww yeah u got a fcking error. Now go fck urself.</p>
                <hr>
                <p class="mb-0">Why are u still here i said go fck urself.</p>
                <hr>
                <h5>Aww u r still here here is ur fcking fckd up reward</h5>
                <p class="text-wrap text-break">
                    <%=err.stack%>
                </p>
            </div>
        </div>
    </div>